* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.footer {
    padding: 30px 40px;
    width: 100%;
    background: #d1e3f1;
    
}

.footer .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .container .about {
    max-width: 30%;
    
}
.footer .container .about h3{
    font-size: 32px;
    color: #010f1c;
}

.footer .container .about .detail p {
    margin-top: 10px;
    font-size: 16px;
    color: #010f1c;
}

.footer .container .about .detail .icon {
    margin-top: 20px;
    display: flex;
}

.footer .container .about .detail .icon li {
    margin-left: 20px;
    list-style: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15)1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container .about .detail .icon li:hover {
    background: #0989ff;
    border-radius: 5px;
    color: #ffff;
    font-size: 16px;
}

.footer .container .account {
    margin: 30px 100px;
}

.footer .container .account h3 {
    font-size: 32px;
    color: #010f1c;
    margin-top: 15px;

}

.footer .container .account ul {
    margin: 10px 20px;
}

.footer .container .account ul li {
    margin-top: 5px;
    color: #010f1c;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}

.footer .container .account ul li:hover {
    color: #0989ff;
}

.footer .container .about .detail .icon li:hover {
    background: #0989ff;
    border-radius: 5px;
    color: #ffff;
    font-size: 16px;
}

.footer .container .page {
    margin: 30px 100px;
}

.footer .container .page h3 {
    font-size: 32px;
    margin-top: 10px;
    color: #010f1c;
}

.footer .container .page ul {
    margin: 10px 20px;
}

.footer .container .page ul li {
    margin-top: 5px;
    color: #010f1c;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
}

.footer .container .page ul li:hover {
    color: #0989ff;
}