* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.top_banner {
    padding: 30px 40px;
    width: 100%;
    background-color: #eaedf0;

}

.top_banner .container {
    justify-content: space-between;
    display: flex;
    max-width: 100%;
}

.top_banner .container .detail {
    margin-top: 5%;
}

.top_banner .container .detail h2 {
    font-size: 52px;
    color: #000000;
    margin-right: 40%;
    margin-bottom: 20px;
}

.top_banner .container .detail .link {
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    background-color: #ffff;
    align-items: center;
    display: flex;
    width: 130px;
}

.top_banner .container .detail .link:hover {
    background: #0989ff;
    color: #dee2e6;
}

.img {
    width: 350px;
    height: 300px;
}

.product_type {
    padding: 10px 20px;
    width: 100%;
}

.product_type .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;

}

.product_type .container .box {
    margin-left: 10px;
    padding: 10px 20px;
}

.product_type .container .box .img-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #dee2e6;
    overflow: hidden;
    cursor: pointer;
}

.product_type .container .box .img-box img {
    width: 80px;
    height: 80px;
    align-items: center;
    max-width: 100%;
    margin: 55px 60px;
    justify-content: center;
    transition: 0.5s;
}

.product_type .container .box .img-box:hover img {
    transform: scale(1.2);
}

.product_type .container .box .detail {
    text-align: center;
    max-width: 100%;
    align-items: center;
}

.product_type .container .box .detail p {
    margin-top: 10px;
    color: #000000;

}

.about {
    padding: 40px 50px;
    width: 100%;
}

.about .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container .box {
    padding: 20px ;
    display: flex;
    background: #dee2e6;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
}

.about .container .box .icon {
    color: #e44c8c;
    font-size: 32px;
    margin-right: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.about .container .box .icon .detail {
    margin-left: 10px;
    margin-top: 10px;
}

.about .container .box .detail h3 {
    color: #000000;
}

.about .container .box .detail p {
    color: #9a9a9a;
}

.product {
    padding: 30px 40px;
    width: 100%;
}

.product h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #000000;
}

.product .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.product .container .box {
    padding: 10px 20px;
    overflow: hidden;
    width: 297px;
    height: 340px;
    border-radius: 10px;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    border: 1px solid #e2e0e0;
    cursor: pointer;
    transition: 0.5s;

}

.product .container .box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.product .container .box .img_box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;

}

.product .container .box .img_box img {

    width: 200px;
    height: 200px;
    margin-right: 50px;

}

.product .container .box .img_box .icon {
    right: -40px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;

}

.product .container .box .img_box:hover .icon {
    transform: translateX(-60px);
}

.product .container .box .img_box .icon li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #9a9a9a;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #ffff;
    transition: 0.5s;
    font-size: 15px;

}

.product .container .box .img_box .icon li:hover {
    background: #0989ff;
    color: #ffff;
}

.product .container .box .detail {
    padding-top: 15px;
}

.product .container .box .detail p {
    color: #9a9a9a;
    font-size: 14px;
}

.product .container .box .detail h3 {
    font-size: 16px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}

.product .container .box:hover .detail h3 {
    color: #0989ff;
}

.product .container .box .detail h4 {
    margin-top: 5px;
    font-size: 14px;
    color: #0989ff;
    letter-spacing: 1px;

}

.banner {
    padding: 0px 30px;
    width: 100%;
    background: #62a3df;

}

.banner .container {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between; 
    margin: 0px;
    width: 100%; 
}

.banner .container .detail {
    margin-top: 13%;
    margin-left: 20px;
}
.banner .container  .img_box{
    margin-right: -150px;
}
.banner .container  .img_box img{
    width: 500px;
}

.banner .container .detail h4 {
    color: #ece1e1;
    font-size: 16px;
    letter-spacing: 1px;
}

.banner .container .detail h3 {
    margin-top: 10px;
    font-size: 42px;
    margin-right: 20%;
    color: #ece5e5;
    letter-spacing: 1px;
}

.banner .container .detail p {
    margin-top: 10px;
    color: #ece5e5;
    letter-spacing: 1.5px;
    font-size: 32px;
    font-weight: 600;
    align-items: center;
    display: flex;
    margin-bottom: 10px;

}

.banner .container .detail .link {
    background-color: #000000;
    padding: 10px 20px;
    border: none;
    color: #ffff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    width: 130px;
}

.banner .container .detail .link:hover {
    color: #010f1c;
    background: #eaedf0;
}

.product_detail {
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    margin-top: -20%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.24);

}

.product_detail .container {
    margin-top: 7%;
    margin-left: 8%;
    width: 1000px;
    height: 500px;
    background: #ffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24);
}

.product_detail .container .closebtn {
    margin-left: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    cursor: pointer;

}

.product_detail .container .productbox {
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
}

.product_detail .container .productbox .img-box {
    padding: 20px 30px;
    width: 300px;
    height: 300px;
    background: #0800000a;
    border-radius: 5px;
}

.product_detail .container .productbox .img-box img {
    width: 240px;
    height: 240px;
    width: 100%;

}

.product_detail .container .productbox .detail {
    margin: 10px 0px 0px 30px;

}

.product_detail .container .productbox .detail h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail h2 {
    margin-top: 30px;
    font-size: 22px;
    color: #010f1c;
    text-transform: capitalize;
}

.product_detail .container .productbox .detail p {
    margin-top: 10px;
    color: #4a4a4a;
}

.product_detail .container .productbox .detail h3 {
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 22px;
    /* color: #0989ff; */
}

.product_detail .container .productbox .detail button {
    margin-top: 30px;
    padding: 10px 28px;
    font-size: 18px;
    background: #010f1c;
    transition: 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffff;
}

.product_detail .container .productbox .detail button:hover {
    background: #0989ff;
}