*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.formDataWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    background: linear-gradient(#2A00B7,#42006c);

}
.formDataWrapper .formData{
    display: flex;
    flex-direction: column;
    width: 30%;
   background: #ffff;
    /* align-items: flex-start; */
}
.formData input{
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0px 5px 0px;

}
.formDataWrapper .formData  button{
    background-color: #2874f0;
    color: #ffff;
    font-size: 20px;
    border: none;
    padding: 5px 0px;
    font-weight: 500;
    margin-top: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    
}