* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.products {
    padding: 30px 40px;
    width: 100%;

}

.products h2 {
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #010f1c;
}

.products p {
    margin-top: 10px;
    color: #9a9a9a;
}

.products .container {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.products .container .filter {
    padding: 0px 30px;
}

.products .container .filter .categories h3 {
    color: #010f1c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.products .container .filter .categories ul {
    margin-top: 10px;
}

.products .container .filter .categories ul li {
    list-style: none;
    margin-top: 20px;
    cursor: pointer;
    color: #010f1c;
}

.products .container .productbox {
    margin-right: 0%;
}

.products .container .productbox .contant {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}


.products .container .productbox .contant .box {
    padding: 10px 20px;
    overflow: hidden;
    width: 250px;
    height: 360px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #e2e0e0;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 10px;
}

.products .container .productbox .contant .box:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.products .container .productbox .contant .box .img-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}

.products .container .productbox .contant .box .img-box img {
    width: 200px;
    height: 200px;
    margin-right: 50px;

}

.products .container .productbox .contant .box .img-box .icon {
    right: -20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;
}

.products .container .productbox .contant .box:hover .img-box .icon {
    transform: translateX(-90px);
}

.products .container .productbox .contant .box .img-box .icon li {
    list-style: none;
    padding: 10px;
    border: none;
    margin-bottom: 2px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #ffff;
    transition: 0.5s;
    font-size: 15px;
}

.products .container .productbox .contant .box .img-box .icon li:hover {
    background: #0989ff;
    color: #ffff;
}

.products .container .productbox .contant .box .detail {
    padding-top: 15px;
}

.products .container .productbox .contant .box .detail h3 {
    font-size: 16px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}

.products .container .productbox .contant .box:hover .detail h3 {
    color: #0989ff;

}

.products .container .productbox .contant .box .detail h4 {
    margin-top: 5px;
    font-size: 14px;
    color: #0989ff;
    letter-spacing: 1px;
}

.product_detail {
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    margin-top: -20%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.24);

}

.product_detail .container {
    margin-top: 7%;
    margin-left: 8%;
    width: 1000px;
    height: 500px;
    background: #ffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24);
}

.product_detail .container .closebtn {
    margin-left: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    cursor: pointer;

}

.product_detail .container .productbox {
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
}

.product_detail .container .productbox .img-box {
    padding: 20px 30px;
    width: 300px;
    height: 300px;
    background: #0800000a;
    border-radius: 5px;
}

.product_detail .container .productbox .img-box img {
    width: 240px;
    height: 240px;
    width: 100%;

}

.product_detail .container .productbox .detail {
    margin: 10px 0px 0px 30px;

}

.product_detail .container .productbox .detail h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.product_detail .container .productbox .detail h2 {
    margin-top: 30px;
    font-size: 22px;
    color: #010f1c;
    text-transform: capitalize;
}

.product_detail .container .productbox .detail p {
    margin-top: 10px;
    color: #4a4a4a;
}

.product_detail .container .productbox .detail h3 {
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 22px;
    /* color: #0989ff; */
}

.product_detail .container .productbox .detail button {
    margin-top: 30px;
    padding: 10px 28px;
    font-size: 18px;
    background: #010f1c;
    transition: 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffff;
}
.product_detail .container .productbox .detail button:hover{
    background:#0989ff ;
}