.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}
.formData{
    box-shadow: 2px 2px 2px 4px rgba(0,0,0,0.5);
    padding: 30px;
    margin-top: 19px;
}
.registerForm .formData .register{
    background-color: #2874f0;
    color: #ffff;
    font-size: 20px;
    border: none;
    padding: 5px 0px;
    font-weight: 500;
    margin-top: 18px;
    cursor: pointer;
}